.expreience-container{
    /* display: grid;
    grid-template-columns: 1fr;
    gap: 2rem; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.expreience-container > div {
    background-color: var(--color-bg-variant);
    padding: 1.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    width: 639px;
}

.expreience-container > div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.expreience-container >div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.exprience-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience-details {
    display: flex;
    gap: 1rem;
}

.experience-details-icons{
    margin-top: 6px;
    color: var(--color-primary);
}

@media screen and (max-width: 1024px) {
    .expreience-container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    .expreience-container > div {
        width: 100%;
        padding: 2rem 1rem;
    }
}